body{
background-color: #0a4b1a; /* Cor de fundo cinza claro */
    font-family: Arial, sans-serif;
    color: #fcfcfc; /* Cor do texto geral */
}

h1 {
    background-color: #f6f7f8; /* Fundo azul escuro */
    color: #02380a;            /* Texto branco */
    text-align: center;        /* Alinhamento ao centro */
    padding: 20px;             /* Espaço interno para o texto respirar */
}

p {
    text-align: center;        /* Texto centralizado */
    color: #f0f3f7;            /* Tom de cinza para o texto */
}

ul {
    background-color: #487c68; /* Fundo branco para a lista */
    padding: 20px;
    width: 250px;              /* Largura da caixa */
    margin: 0 auto;            /* Centraliza a caixa da lista na tela */
}

.img-banner {
    width: 100%;             /* Ocupa toda a largura disponível */
    height: 180px;           /* Define uma altura fixa para a capa */
    object-fit: cover;       /* CORTE INTELIGENTE: Impede que a imagem fique esticada ou esmagada! */
    border-radius: 8px 8px 0 0; /* Arredonda apenas os cantos superiores */
}

.img-perfil {
    width: 130px;            /* Largura exata da foto */
    height: 130px;           /* Altura igual à largura (para ser um quadrado perfeito) */
    object-fit: cover;       /* Ajusta a foto sem distorcer o rosto */
    border-radius: 50%;      /* O TRUQUE: Transformando a foto quadrada em um círculo perfeito! */
    border: 4px solid #ffffff; /* Borda branca estilizada em volta da foto */
    margin-top: -65px;       /* Sobrepõe a foto levemente por cima do banner */
}

.perfil-container {
    text-align: center;
    padding: 0 20px 20px 20px;
}
